@import './../../style';

body {
   overflow: visible;
}

.about {
   padding-top: 80px;
   padding-bottom: 50px;

   @include media(max, lg) {
      padding-top: 100px;
   }
}

.container {
   @extend .container;
   --container_padding: 100px;

   @include media(max, xl) {
      --container_padding: 40px;
   }

   @include media(max, lg) {
      --container_padding: 20px;
   }
}

.title_wrap {
   position: relative;
   margin-bottom: 80px;
   text-align: center;

   @include media(max, xl) {
      margin-bottom: 50px;
   }

   @include media(max, lg) {
      margin-bottom: 40px;
   }
}

.title {
   font: var(--h1);
   color: #252525;

   @include media(max, xl) {
      display: none;
   }
}

.subTitle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   font: var(--h2);
   color: var(--color);
   text-align: center;
   transition: color 500ms ease;

   @include media(max, xl) {
      position: unset;
      transform: unset;
   }

   span {
      color: var(--color_secondary);
      transition: color 500ms ease;
   }
}
