.CircleBar {
   display: inline-block;
   position: relative;
}

.title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   font: var(--h3);
   color: var(--color_secondary);
   transition: color 500ms ease;
}
