.header {
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}

.menu {
   --icon_fill: var(--background);
}

.list {
   display: grid;
   grid-auto-rows: var(--minmax);
   row-gap: 20px;
   list-style: none;
}

.item {
}
