@import './../../../../../style';

.header {
   position: absolute;
   top: 50%;
   right: 20px;
   z-index: 9999;
   transform: translateY(-50%);

   @include media(max, xl) {
      display: none;
      visibility: hidden;
   }
}

.menu {
   --icon_fill: var(--background);
}

.list {
   display: grid;
   grid-auto-rows: var(--minmax);
   row-gap: 20px;
   list-style: none;
}

.item {

}

.link {
   position: relative;

   display: flex;
   align-items: center;
   justify-content: flex-end;

   font: var(--link);
   color: var(--color);
   text-decoration: none;


   &:hover {
      .text {
         opacity: 1;
         padding-right: 55px;
      }

      .icon {
         background-color: var(--background_secondary);
      }
   }
}

.active {
   .icon {
      background-color: var(--background_secondary);
   }
}

.text {
   position: absolute;
   top: 50%;
   right: 0;
   z-index: -1;
   transform: translateY(-50%);

   display: flex;
   align-items: center;
   height: 100%;
   padding-left: 15px;

   color: var(--background);

   background-color: var(--background_secondary);
   border-radius: 30px;
   opacity: 0;
   transition: opacity 300ms ease, padding-right 300ms ease;
}

.icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;

   background-color: var(--color);
   border-radius: 50%;
   transition: background-color 500ms ease;
}
