.block {
   position: fixed;
   top: 0;
   right: 0;

   width: 100%;
   height: 100%;
   background-color: var(--background);
   clip-path: circle(0% at 100% 6%);
   transition: clip-path 1000ms ease;
}

.block_active {
   clip-path: circle(200% at 95% 6%);
   transition: clip-path 1000ms ease;
}

.theme {
   position: fixed;
   top: 0;
   right: 0;
   list-style: none;
}

.item {
   position: absolute;
   top: 0;
   right: 0;
   transition: transform 500ms ease-in-out, opacity 1000ms ease, visibility 1000ms ease;
}

.active {
   transform: translateY(-100%);
   visibility: hidden;
   opacity: 0;
}

.button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding: 25px;
}

.image {
   width: 125px;
   height: 125px;

   transition: transform 500ms ease;

   &:hover {
      transform: rotate(360deg);
   }
}


.sun {
   background: radial-gradient(60px, #f2cd35, transparent);
}

.moon {
   background: radial-gradient(60px, #fff, transparent);
}
