@import '../../../style';

.block {
   position: fixed;
   top: 0;
   right: 0;

   width: 100%;
   height: 100%;
   background-color: var(--background);
   clip-path: circle(0% at 100% 0%);
   transition: background-color 5s ease, clip-path 1000ms ease;
}

.block_active {
   clip-path: circle(200% at 95% 6%);
   transition: clip-path 1000ms ease;
}

.theme {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 9999;
   list-style: none;
}

.item {
   position: absolute;
   top: 0;
   right: 0;
   transition: transform 500ms ease-in-out, opacity 1000ms ease, visibility 1000ms ease;
}

.active {
   transform: translateY(-100%);
   visibility: hidden;
   opacity: 0;
}

.button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding: 25px;

   @include media(max, xl) {
      padding: 5px 20px;
   }
}

.image {
   --size_gradient: 60px;
   --size: 125px;
   width: var(--size);
   height: var(--size);

   transition: transform 500ms ease;

   @include media(max, lg) {
      --size: 90px;
      --size_gradient: 45px;
   }

   &:hover {
      transform: rotate(360deg);
   }
}


.sun {
   background: radial-gradient(var(--size_gradient), #f2cd35, transparent);
}

.moon {
   background: radial-gradient(var(--size_gradient), #fff, transparent);
}
