@import "./../../../style";

.burger {
   display: none;

   @include media(max, xl) {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10000;

      display: block;
      width: 54px;
      height: 54px;

      border-radius: 8px;
      border: none;
      box-shadow: 0 2px 10px var(--color);
      background-color: var(--color);
      transition: box-shadow 500ms ease, background-color 500ms ease;
      cursor: pointer;

      span {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         width: 65%;
         height: 2px;
         background-color: var(--background_secondary);
         transition: background-color 500ms ease, transform 300ms ease;
      }

      &::after,
      &::before {
         content: '';
         position: absolute;
         top: 30%;
         left: 50%;
         transform: translateX(-50%);

         width: 65%;
         height: 2px;
         background-color: var(--background_secondary);
         transition: background-color 500ms ease, transform 300ms ease;
      }

      &::after {
         top: unset;
         bottom: 30%;
      }

   }
}

.burger_active {
   span {
      transform: translate(-50%, -50%) scale(0);
   }

   &::before {
      transform: translate(-50%, 10px) rotate(-45deg);
   }

   &::after {
      transform: translate(-50%, -10px) rotate(45deg);
   }
}
