.card {
   position: relative;

   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

   border: 2px solid var(--background_secondary);
   border-radius: 12px;

   overflow: hidden;
   cursor: pointer;
   transition: border 500ms ease;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%) scale(0);

      width: 250px;
      height: 250px;

      border-radius: 50%;
      background-color: var(--background_secondary);
      transition: transform 500ms ease;
   }

   &:hover {
      &::before {
         transform: translate(-50%, -50%) scale(3);
      }

      .title {
         transform: translate(-50%, -50%) scale(1);
      }
   }
}

.title {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 2;
   transform: translate(-50%, -50%) scale(0);

   font: var(--h5);
   text-transform: uppercase;
   color: var(--color);
   cursor: pointer;
   transition: transform 600ms ease, color 500ms ease;
}
