@import '../../../../style';

.skills {
   margin-bottom: 80px;

   @include media(max, xl) {
      margin-bottom: 50px;
   }
}

.title {
   margin-bottom: 35px;

   font: var(--h3);
   color: var(--color);
   text-align: center;
   transition: color 500ms ease;
}

.list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   row-gap: 30px;
   justify-content: center;
   list-style: none;

   @include media(max, lg) {
      grid-template-columns: repeat(2, minmax(min-content, 250px));
   }
}

.item {
   text-align: center;
}

.skill {

}

.subTitle {
   font: var(--h3);
   color: var(--color);
   transition: color 500ms ease;
}
