@import './style';

.dark_theme {
   --color: rgb(255, 255, 255);
   --color_secondary: rgb(255, 74, 74);
   --background: rgb(8, 13, 44);
   --background_secondary: var(--color_secondary);
   --background_secondary_2: rgb(255, 255, 255);
   --background_wave: rgb(142, 93, 236);
   display: block;
}

.light_theme {
   --color: rgb(0, 0, 0);
   --color_secondary: rgb(78, 192, 147);
   --background: rgb(255, 255, 255);
   --background_secondary: var(--color_secondary);
   --background_secondary_2:  rgb(8, 13, 44);
   --background_wave: rgb(180, 219, 255);
}

.app {
   min-height: 100vh;
   transition: background-color 500ms ease;
}
