@import "style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

.isShowPopup-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}
.isShowPopup-enter-active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 500ms ease, transform 500ms ease;
}
.isShowPopup-exit {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.isShowPopup-exit-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 500ms ease, transform 500ms ease;
}

.menuMobile-enter {
  transform: translateX(-100%);
}
.menuMobile-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease;
}
.menuMobile-exit {
  transform: translateX(0);
}
.menuMobile-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease;
}
